<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<section class="add-contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <!-- MESSAGE -->
                <!-- <div th:if="${session.message}" th:classappend="${session.message.type}"
                    class="alert alert-dismissible fade show mt-2" role="alert">
                    <p class="text-center m-0" th:text="${session.message.content}"></p>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> -->
                <!-- END MESSAGE -->



                <h3 class="text-center m-2">Hi <span th:text="${user.name}" class="text-capitalize"></span>, add your
                    contact</h3>

                <form method="POST" class="mb-2" th:action="@{/user/process-addcontact}" th:object="${contact}"
                    enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fas fa-plus"></i></div>
                            <input name="name" th:value="${contact.name}" type="text" class="form-control"
                                th:classappend="${#fields.hasErrors('name')}? 'is-invalid':'' " id="name"
                                placeholder="Enter name">
                            <div th:each="err: ${#fields.errors('name')}" th:text="${err}" id="nameValidationError"
                                class="invalid-feedback">
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="nickname" class="form-label">Nickname</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fas fa-signature"></i></i></div>
                            <input name="nickname" th:value="${contact.nickname}" type="text" class="form-control"
                                id="name" placeholder="Enter nickname">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fas fa-at"></i></div>
                            <input name="email" th:value="${contact.email}" type="email" class="form-control" id="email"
                                placeholder="Enter email address">

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone number</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fas fa-phone"></i></div>
                            <input name="phone" th:value="${contact.phone}" type="text"
                                th:classappend="${#fields.hasErrors('phone')}? 'is-invalid': '' " class="form-control"
                                id="phone" placeholder="Enter phone number">

                            <div th:each="err: ${#fields.errors('phone')}" th:text="${err}" id="phoneValidationError"
                                class="invalid-feedback"></div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="work" class="form-label">Work</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fas fa-briefcase"></i></div>
                            <input name="work" th:value="${contact.work}" type="text" class="form-control" id="work"
                                placeholder="Enter work details">
                        </div>
                    </div>




                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" th:text="${contact.description}" class="form-control"
                            id="description" rows="3" placeholder="Enter description"></textarea>


                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Photo</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fas fa-camera"></i></div>
                            <input class="form-control" type="file" id="image">
                        </div>
                    </div>




                    <div class="container text-center">
                        <button type="submit" class="btn bg-primary text-white me-2">Submit</button>
                        <button type="reset" class="btn bg-warning ms-2 me-2">Reset</button>

                    </div>


                </form>
            </div>
        </div>
    </div>
</section>

</html>