<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Smart Contact Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">

                <li class="nav-item me-2">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-house-user me-1"></i>
                        Home
                    </a>
                </li>

                <li class="nav-item me-2">
                    <a class="nav-link" th:href="@{/about}">
                        <i class="fas fa-file-alt me-1"></i>
                        About</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item me-2">
                    <a class="nav-link" th:href="@{/signin}">
                        <i class="fas fa-sign-in-alt me-1"></i>
                        Sign In/Sign Up</a>
                </li>

                <li sec:authorize="${isAuthenticated()}" class="nav-item me-2">
                    <a class="nav-link" th:href="@{/user/index}">
                        <i class="fas fa-address-book me-1"></i>
                        Dashboard</a>
                </li>
                <li sec:authorize="${isAuthenticated()}" class="nav-item me-2">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt me-1"></i>
                        Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>